@import "tailwindcss";

@theme {
  --color-primary: #c8f906;
  --color-background-light: #f8f8f5;
  --color-background-dark: #121212;
  --color-surface-dark: #1e1e1e;
  --color-border-dark: #333333;
  --color-text-secondary: #a1a1a1;

  --font-display: "Lexend", sans-serif;
  --font-body: "Montserrat", sans-serif;

  --radius-sm: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;
}

@utility glass-nav {
  background: rgba(18, 18, 18, 0.85);
  backdrop-filter: blur(12px);
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@utility animate-slide-in-right {
  animation: slideInRight 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@utility animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}


span{
  user-select: none;
}